<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Calculation</title>
</head>
<body>
	<h1>Result from Postal Rate Calculation</h1>
	<h2>The Postal Rate you have requested:</h2><br>
    <b>Type of Postal: </b><%= type %><br>
    <b>Weight of Post: </b><%= weight %>oz.<br>
    <b>The rate to mail item: </b>$<%= rate.toFixed(2) %><br>
</body>
    
</html>
